*{
  padding: 0;
  margin: 0;
}
.@font-face {
font-family: lucida ;
src: url(C:front_end\1006\fonts\ufonts.com_lucida-sans-unicode.ttf)
}
.main{
  width:912px; height: 1292px; background-color: gray;  margin: 0px auto;
}
.header{
  width:912px; height: 30px; background-color: white; display: inline-block; margin-top: 22px; border: solid 1px black;
}
.phone{
  width: 22px;
  margin-left: 0;
  float: left;
  border: solid 1px black;
  height: 27px;
}
.number{
  float: left;
  width: 300px;
  height: 27px;
  border: solid 1px black;
}
.number_{
}
.login{
  width: 496px;
  height: 27px;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, rgb(31, 103, 135), rgb(12,51,87)) ;
  float: left;
}
.log_1{
  float: left;
  width: 20px;
  height: 20px;
  border: solid 1px black;
}
.log_2{
  float: left;
  width: 114px;
  height: 18px;
}
.log_2_input{
  width: 114px;
  height: 18px;
}
.log_3{
  float: left;
  width: 114px;
  height: 18px;
}
.log_4{
  float: left;
  width: 220px;
  height: 18px;
  border: solid 1px black;
  background-color: white;
}
.pict{
  float: left;
  width: 77px;
  height: 21px;
  border-radius: 10px;
  border: solid 1px black;
}
.logo{
  width:909px; height: 237px; background-color: yellow; margin: 0px auto;
}
.menu{
  width:912px;
  height: 34px;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, rgb(60, 67, 103), rgb(1,1,1)) ;
}
.menu_1{
  float: left;
  width: 500px;
  height: 34px;
  border: solid 1px black;
  background-color: white;
}
.menu_2{
  float: left;
  width: 240px;
  height: 34px;
  border: solid 1px black;
  background-color: white;
}
.forms{
  width:912px; height: 162px;
}
.search_auto{
  width:415px; height: 133px; background-color: black; float: left;
}
.search_tire{
  width:195px; height: 137px; background-color: blue; float: left;
}
.search_disc{
  width:269px; height: 136px; background-color: green;  float: left;
}
.products{
  width:912px; height: 628px;  background-color: red;
}
.catalog{
  width:192px; height: 628px;  background-color: yellow; float: left;
}
.catalog_1{
  width: 183px;
  height: 27px;
  border-radius: 13px;
  border: solid 1px black;
  background-color: white;

}
.catalog_1_1{
  padding: 2px;
}
.catalog_1_2{
  padding-top: 6px;
  color: rgb(17, 65, 101);
  text-transform: uppercase;
  font-family: lucida;
  font-size: 13px;
}
.catalog_2{
  float: left;
  width: 151px;
  height: 28px;
  border-radius: 13px;
  border: solid 1px black;
  background-color: white;
}
.catalog_2_1{
  padding: 3px;
}
.catalog_2_2{
  padding-top: 6px;
  color: rgb(17, 65, 101);
  text-transform: uppercase;
  font-family: lucida;
  font-size: 13px;
}
.catalog_3{
  float: left;
  width: 138px;
  height: 95px;
  border: solid 1px black;
}
.catalog_3_ul{
list-style: circle;
}
.catalog_3_ul > a {

}
.catalog_3_li{
margin: 5px;
}
.catalog_3_li > a{
  text-decoration: none;
  color: rgb(70,89,97);
}
.catalog_3_li > a:hover{
text-decoration: underline;
font-style: italic;
color: rgb(12,50,86);
}
.catalog_5_ul{
list-style: circle;
}
.catalog_5_ul > a {

}
.catalog_5_li{
margin: 5px;
}
.catalog_5_li > a{
  text-decoration: none;
  color: rgb(70,89,97);
}
.catalog_5_li > a:hover{
text-decoration: underline;
font-style: italic;
color: rgb(12,50,86);
}
.catalog_7_ul{
list-style: circle;
}
.catalog_7_ul > a {

}
.catalog_7_li{
margin: 5px;
}
.catalog_7_li > a{
  text-decoration: none;
  color: rgb(70,89,97);
}
.catalog_7_li > a:hover{
text-decoration: underline;
font-style: italic;
color: rgb(12,50,86);
}
.catalog_4{
  float: left;
  width: 151px;
  height: 28px;
  border-radius: 13px;
  border: solid 1px black;
  background-color: white;
}
.catalog_4_1{
padding: 3px;
}
.catalog_4_2{
padding-top: 6px;
color: rgb(17, 65, 101);
text-transform: uppercase;
font-family: lucida;
font-size: 13px;
}
.catalog_5{
  float: left;
  width: 138px;
  height: 95px;
  border: solid 1px black;
}
.catalog_6{
  float: left;
  width: 151px;
  height: 28px;
  border-radius: 13px;
  border: solid 1px black;
  background-color: white;
}
.catalog_6_1{
padding: 3px;
}
.catalog_6_2{
padding-top: 6px;
color: rgb(17, 65, 101);
text-transform: uppercase;
font-family: lucida;
font-size: 13px;
}
.catalog_7{
  float: left;
  width: 138px;
  height: 95px;
  border: solid 1px black;
}
.images{
  width:526px;
  height: 628px;
  background-image: linear-gradient(to bottom, rgb(229, 231, 232), rgb(147,167, 176)) ;
  float: left;
}
.brends{
  width:192px; height: 628px;  background-color: yellow; float: left;
}
.brends_1{
  float: left;
  width: 183px;
  height: 27px;
  border-radius: 13px;
  border: solid 1px black;
  background-color: white;

  }
  .brends_1_1{
  padding: 2px;
  }
  .brends_1_2{
  padding-top: 6px;
  color: rgb(17, 65, 101);
  text-transform: uppercase;
  font-family: lucida;
  font-size: 13px;
  }
.brends_2{
  float: left;
  width: 136px;
  height: 28px;
  border-radius: 13px;
  border: solid 1px black;
  background-color: white;
  }
  .brends_2_1{
  padding: 2px;
  }
  .brends_2_2{
  padding-top: 6px;
  color: rgb(17, 65, 101);
  text-transform: uppercase;
  font-family: lucida;
  font-size: 13px;
  }
.brends_3{
  float: left;
  width: 136px;
  height: 80px;
  border: solid 1px black;
}
.brends_4{
  float: left;
  width: 136px;
  height: 28px;
  border-radius: 13px;
  border: solid 1px black;
  background-color: white;
  }
  .brends_4_1{
  padding: 2px;
  }
  .brends_4_2{
  padding-top: 6px;
  color: rgb(17, 65, 101);
  text-transform: uppercase;
  font-family: lucida;
  font-size: 13px;
  }
.brends_5{
  float: left;
  width: 136px;
  height: 80px;
  border: solid 1px black;
}
.brends_6{
  float: left;
  width: 82px;
  height: 25px;
  border-radius: 13px;
  border: solid 1px black;
  background-image: linear-gradient(to bottom, rgb(31, 103, 135), rgb(12,51,87));
}
.brends_6_1{
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  padding-top: 4px;
}
.logos{
    width:912px; height: 90px; background-color: white;
}
.footer{
width:910px; height: 100px;background-color:  rgb( 33, 58,77)
}
