*{
  padding: 0;
  margin: 0;
}
.main{
  width:912px; height: 1292px; background-color: gray;  position: absolute; margin: 0px auto;
}
.footer{
  width:912px; height: 26px; background-color: white; display: inline-block; margin-top: 22px;
}
.phone{
  width: 22px;
  margin-left: 0;
  float: left;
}
.number{
  margin-left: 10%;
  width: 300px;
  height: 15px;
}
.logo{
  width:909px; height: 237px; background-color: yellow; margin: 0px auto;
}
.menu{
  width:912px; height: 34px; background-color: red;
}
.forms{
  width:912px; height: 162px;
}
.search_auto{
  width:415px; height: 133px; background-color: black; float: left;
}
.search_tire{
  width:195px; height: 137px; background-color: blue; float: left;
}
.search_disc{
  width:269px; height: 136px; background-color: green;  float: left;
}
.products{
  width:912px; height: 628px;  background-color: red;
}
.catalog{
  width:192px; height: 628px;  background-color: yellow; float: left;
}
.images{
  width:526px; height: 628px;  background-color: green; float: left;
}
.brends{
  width:192px; height: 628px;  background-color: yellow; float: left;
}
.logos{
    width:912px; height: 90px; background-color: white;
}
